/*
// COLORS
*/

$dark-color: #000;
$light-color: #fff;
$light-strong: rgb(236, 226, 226);
$grey-skills: rgb(161, 159, 159);
$primary-color: rgb(37, 37, 37);
$strong-gray: rgb(37, 37, 37);
$secondary-color: #1B1B1B;;
$moon-color: #fff;
$sun-color: rgb(255, 166, 0);

/*
// BRANDS
*/
$brand-btn: 'btn';
$brand-card: 'card';
$brand-menu: 'menu';


/*
// OTHERS 
*/

$transition-duration: 0.5s;
$animationSpeed: 40s;
$top-ancala: 60px;
$font-size-p: 17px;

